*{
    box-sizing: inherit;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%);
    background-attachment: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    z-index: -100;
    
}

#landingPage{
    background-image: url("../images/benchMe.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
}

.sideNav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.sideNav a{
    background: white;
    color: #82ccdd;
    font-size: 22px;
    display: block;
    width: 130px;
    padding: 12px;
    text-decoration: none;
    margin: 8px;
    border-radius: 6px;
    margin-left: -100px;
    transition: 0.6s all;
}

.sideNav a:hover{
    margin-left: 0;
}

#Title {
   position: absolute;
   top: 20%;
   right: 5%;
   align-items: center;
}

#Title .information{
    text-align: right;
    margin-top: 20%;
}

#Title .information .infoText:hover{
    color:  #82ccdd;
    text-shadow: black;
}

#Title .information h2{
    text-transform: uppercase;
}

#Title .row img{
    max-height: 125vh;
    max-width: 50vh;
    border-radius: 100px;
}

/* .navbar-brand{
    
} */