*{
    /* box-sizing: inherit; */
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%);
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    color: white;
    z-index: -100;
}
/* landing navbar */
navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#LandingUL{
    position: relative;
    display: flex;
    flex-direction: row;
}

#LandingUL li{
    list-style: none;
    padding: 0px 10px;
}

#LandingUL li:before{
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 6em;
    font-weight: 700;
    pointer-events: none;
    opacity: 0;
    letter-spacing: 20px;
    transition: 0.5s;
    white-space: nowrap;
}

#LandingUL li:hover:before{
    opacity: 0.05;
    letter-spacing: 0px;
}

#LandingUL li a{
    position: relative;
    display: inline-block;
    padding: 6px 15px;
    text-decoration: none;
    color: #fff;
    background: #2196f3;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1;
}
#LandingUL:hover li a{
    opacity: 0;
}

#LandingUL li a:hover{
    transform: scale(1.4);
    z-index: 1000;
    background: #ff3f81;
    opacity: 1;
}

#LandingUL li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
    transform: skewX(35deg);
    transition: 0s;
}

#LandingUL li a:hover:before{
    left: calc(100% + 100px);
    transition: 0.5s;
    transition-delay: 0.2s;
}

header{
    opacity: 0.8;
    z-index: 10;
}
header nav span{
    pointer-events: none;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #2196f3;
}

#AboutMe{
    color: black;
}

