*{
    /* box-sizing: inherit; */
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%);
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    color: white;
    z-index: -100;
}
/* landing navbar */
navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#LandingUL{
    position: relative;
    display: flex;
    flex-direction: row;
}

#LandingUL li{
    list-style: none;
    padding: 0px 10px;
}

#LandingUL li:before{
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 6em;
    font-weight: 700;
    pointer-events: none;
    opacity: 0;
    letter-spacing: 20px;
    transition: 0.5s;
    white-space: nowrap;
}

#LandingUL li:hover:before{
    opacity: 0.05;
    letter-spacing: 0px;
}

#LandingUL li a{
    position: relative;
    display: inline-block;
    padding: 6px 15px;
    text-decoration: none;
    color: #fff;
    background: #2196f3;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1;
}
#LandingUL:hover li a{
    opacity: 0;
}

#LandingUL li a:hover{
    transform: scale(1.4);
    z-index: 1000;
    background: #ff3f81;
    opacity: 1;
}

#LandingUL li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
    transform: skewX(35deg);
    transition: 0s;
}

#LandingUL li a:hover:before{
    left: calc(100% + 100px);
    transition: 0.5s;
    transition-delay: 0.2s;
}

/* header navbar */
header{
    opacity: 0.8;
    z-index: 10;
    display: none;
    position: fixed;
    width: 100%;
}

header nav span{
    pointer-events: none;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #2196f3;
}


/* About Me */
.aboutMeWrap{
    background: rgba(192,192,192, 0.6);
    margin-top: 50px;
    
}

#AboutMe{
    background-image: url("../images/benchMe.JPG"); /* The image used - important! */
    background-size: cover;
    position: relative; /* Needed to position the cutout text in the middle of the image */
    height: 500px;
    margin-top: 50px;
    
}

.text {
    background-color: white;
    color: black;
    font-size: 5vw; /* Responsive font size */
    font-weight: bold;
    margin: 0 auto; /* Center the text container */
    padding: 10px;
    width: 60%;
    text-align: center; /* Center text */
    position: absolute; /* Position text */
    top: 50%; /* Position text in the middle */
    left: 50%; /* Position text in the middle */
    transform: translate(-50%, -50%); /* Position text in the middle */
    mix-blend-mode: screen; /* This makes the cutout text possible */
    opacity: 0.75;
}

#AboutMeInfo .container{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 

}

.card{
    display: flex;

    color: black;
    margin: 10px;

}


/* Projects */
.projectBox{
    position: relative;
    /* width: 1100px; */
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.projectBox .slideCard{
    position: relative;
    max-width: 500px;
    height: 400px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba (0,0,0,0.5);
    transition: 0.3s ease-in-out;

}

.projectBox .slideCard .imageBox{
    position: relative;
    width: 360px;
    height: 360px;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 20px rgba (0,0,0,0.2);
}

.projectBox .slideCard .imageBox img{
    max-width: 100%;
    border-radius: 4px;
}

.projectBox .slideCard .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.projectBox .slideCard:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}



/* Skills */
#Skills{
    color: white;
    min-height: 800px;
}

.icons{
    display: flex;
    font-size: 70px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-content: center;
    justify-content: center;
    transition:transform .25s ease;
}

.icons:hover{
    color: #2196f3;
    transform: scale(1.5);
    overflow: hidden;
}

/* Back to Top Button */
#BackToTop{
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    margin: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s;
    z-index: 1000;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
}

#BackToTop:hover{
    cursor: pointer;
    background-color: #333;
    
}

#BackToTop:active{
    background-color: #ff3f81;
}

#BackToTop::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#BackToTop.show {
    opacity: 1;
    visibility: visible;
  }


/* footer */

footer{
    background-color: grey;
    padding-top: 10px;
    
}

footer ul li{
    display: flex;
    justify-content: center;
}

.pointerEvent{
    pointer-events: none;
}

footer ul li a{
    text-decoration: none;
    color: white;
}

footer ul li a:hover{
    text-decoration: none;
    color: #2196f3;
}

